/* style.css for massmine.org  */ 

#sidebar {
    float:right;
    width: 160px;
    background: #E6E6E6;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;
    border-top: solid 2px;
    border-left: solid 5px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #838B8B;
    box-shadow: 10px 10px 5px #CCCCCC;
    margin-left:auto;
    margin-right:auto;
}

#sidebar-content {
    font-size: 16pt;
    font-family: Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
    text-align:left;

}

#sidebar h1 {
    text-align:left;
    font-size:12pt;
}

#sidebar ul ul {
    margin-left: 0px;
    padding: 0px;
}

#sidebar li {
    margin-top: -20px;
    margin-bottom:20px;
    margin-left:-30px;
}

#sidebar dt {
    padding-left: 0px;
    font-size: 11pt;
}

#sidebar dd {
    font-size: 9pt;
}


ul.nobullet, .entry-content ul.nobullet li, .entry-content ul.nobullet, .nobullet, ul.nobullet > li {
    list-style: none;
    border: 0px solid green;
}

.indented, .btw, .onespace {
    margin-left: 36px;
    border: solid 0px green;
}

.bibreference {
    padding-left: 66px ;
    text-indent: -22px ;
    font-size: 12pt;
}

.bio {
    float: left;
    padding: 10px;
    margin-left: 36px;
}

body{
    background: white;
    color:#000;
    margin:0;
    padding:0;
}

#documentation {
    float:left;
    width: 720px;
}

#container {
    margin: 10px;	
    /* margin-top: 20px; */
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    min-height: 750px;
    /* IE6 height hack */
    height:auto !important;
}

#header-cont {
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0px;
}

#navbar-top {
    background-color: #454545;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#navbar-text {
    width:900px;
    margin:0px auto;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;
    word-spacing: 13px;
    text-align: right;
    font-size:13pt;
    font-family: Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
}

#navbar-top img {
    vertical-align:middle;
    margin-right:-8px;
}

#navbar-text a:link{
    color: #FFFFFF;
}

#navbar-text a:hover{
    color: #66CCFF;
}

#navbar-text a:visited{
    color: #FFFFFF;
}

#navbar-text a:hover{
    color: #66CCFF;
}

#header {
    background-color: #006699;
    height: 45px;
    width:100%;
    margin:0px auto;
}

.header-text {
    width:900px;
    margin:0px auto;
    height: 45px;
    line-height: 45px;
    color: #FFFFFF;
    font-size:25pt;
    font-family: Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
}

.header-title {
    color:#FFFFFF;
    font-size:21pt;
}

.header-subtitle {
    color: #CCCCCC;
    font-size:14pt;
    padding:5px;
    font-style:italic;
}

#footer {
    border-bottom: solid 5px;
    border-color: #838B8B;
}

#site-footer{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 9pt;
    border-top: solid 3px;
    border-color: #838B8B;
    clear: both;
}

p, li, table#writer_reader > tbody > tr > td  {

    font-family: Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
    font-size: 16px;
    line-height: 29px;
    color: #333;

}

p, ol li {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 18px;
}

dl {
    font-family: Charter, Hoefler Text, Cambria, Georgia, Times New Roman, serif;
}

a {
    color: #667CA3;
    text-decoration: none;
}

a:hover {
    color: black;
}

h1  {
    font-family: 'Equity-Text-B', serif;
    font-weight: bold;
    font-size: 24px; /* was 32pt with concourse */
    line-height: 34px;
    width: 600px;
    margin-bottom: 15px;
    letter-spacing: 0px;
    color: #838B8B;
    text-rendering: optimizeLegibility;

}

h2, h2.entry_title {
    font-family: 'Equity-Text-B', serif;
    font-weight: bold;
    font-size: 28px; /* was 32pt with concourse */
    line-height: 34px;
    width: 600px;
    margin-bottom: 15px;
    letter-spacing: 0px;
    color: #333;
    text-rendering: optimizeLegibility;

}

h3 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 2px;
    border-top: 1px solid #ccc;
    color: #333;
    font-family: source-sans, Helvetica Neue, Calibri, Arial, Times New Roman, serif;
}


.codebox {

    font-family: source-sans, ConcourseMedium, Consolas, Monaco, Courier, Courier New;
    font-size: 30px;
    border: 1px solid #ccc;
    padding: 4px;
}

#logo {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    float: left;
}

iframe {
    margin-left:auto;
    margin-right:auto;
}

code, samp, kbd {
    font-family: "Courier New", Courier, monospace, sans-serif;
    text-align: left;
    color: #555;
    font-size: 14px;
    background-color: #E6E6E6;
    padding: 2px;
}

pre code {
    line-height: 1.6em;
    font-size: 14px;
    background-color: #FFFFFF;
}

pre {
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 11px solid #ccc;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #CCCCCC;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
}

/* target IE7 and IE6 */
*:first-child+html pre {
    padding-bottom: 2em;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto; 
}

* html pre { 
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
}